
.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(1, 196, 198) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(1, 196, 198) !important;
}

.login-box {
    background-color: rgb(237, 232, 172);
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(10px);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: black;
}

.error {
    color: red;
    margin-top: 5px;
    text-align: center;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: black;
    text-decoration: underline;
}

.footer {
    background-color: #343a40;
    color: white;
    width: 100%;
    margin-top: 40px;
}


@media (max-width: 576px) {
    .login-box {
        padding: 20px;
    }

    .navbar-brand {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 16px;
    }
}